<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Californian Optimist</title>
    <!--Bootstrap CDN-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!--Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <!--Default CSS link-->
    <link rel="stylesheet" type="text/css" href="/app.css" />
  </head>

  <body class="d-flex flex-column">
    <!-- Navbar -->
    <nav class="navbar navbar-dark">
      <a class="navbar-brand" href="/">
        Californian Optimist
      </a>
    </nav>
  </body>
</html>
